footer
    .container.flex
        figure
            img(src="images/logo-footer.png" alt="store intelligente")
        .footer.flex
            .item-col
                a(href="#") HOME
            .item-col
                a(href="#") AREAS DE NEGOCIO
                a.sub(href="iot-solutions.html") IOT SOLUTIONS
                a.sub(href="wifi-analitics.html") WIFI ANALITICS
                a.sub(href="sales-tracking.html") PRICE COMPETITIVENESS
                a.sub(href="price-competitiveness.html") SALES TRACKING
            .item-col
                a(href="acerca-de.html") ACERCA DE
            .item-col
                a(href="contacto.html") CONTÁCTANOS
    .container.flex
        aside
            p 2020 Store Intelligentces All Rights Reserved
            a(href="") Politicas De Privacidad
            a(href="") Mapa de sitio
        aside
            a(href="https://twitter.com/storeintel?s=21" target="_blank")
                span.icon
                    img(src="images/face.svg" alt="store intelligente")
            a(href="https://www.linkedin.com/company/the-store-intelligence/" target="_blank")
                span.icon
                    img(src="images/linkedin.svg" alt="store intelligente")
            
